	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/03/2018 06:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-shopping-online-support:before { content: "\f100"; }
.flaticon-computer:before { content: "\f101"; }
.flaticon-cogwheel:before { content: "\f102"; }
.flaticon-information:before { content: "\f103"; }
.flaticon-king-crown:before { content: "\f104"; }
.flaticon-bitcoin:before { content: "\f105"; }
.flaticon-bitcoin-network-symbol:before { content: "\f106"; }
.flaticon-money-bag-with-dollar-symbol:before { content: "\f107"; }
.flaticon-server:before { content: "\f108"; }
.flaticon-database-2:before { content: "\f109"; }
.flaticon-shape:before { content: "\f10a"; }
.flaticon-database-1:before { content: "\f10b"; }
.flaticon-database:before { content: "\f10c"; }